:root {
  --darkmodeprimary: #1d2b3a;
  --darkmodesecondary: #2e2e2e;
  --darkmodetext: #ffffff;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --lightmodetext: #000000;
}

.cool {
  --primary: var(--darkmodeprimary);
  --secondary: var(--darkmodesecondary);
  --text: var(--darkmodetext);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
  --text: var(--lightmodetext);
}

.hero {
  background-color: var(--secondary);
}

body {
  background-color: var(--primary);
}

button {
  background-color: var(--secondary);
  color: var(--text);
  margin-bottom: 25px;
}
.png {
  width: 500px;
  height: 500px;
  padding-top: 20px;
}
h2 {
  margin: 12px;
  color: var(--text);
}
h3 {
  color: var(--text);
}
.card {
  background-color: var(--secondary);
  text-align: center;
}

.length {
  padding-bottom: 20px;
}

body {
  color: var(--text);
  text-align: center;
}
