:root {
  --grey: #b3c4db;
  --light-white: #e3eff9;
  --light-red: #f87171;
  --dark-red: #dc2626;

  /* Intentions */
  --primary: var(--light-white);
  --secondary: var(--grey);
}

.cool {
  --primary: var(--grey);
  --secondary: var(--light-white);
}

.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}

.hero {
  background-color: var(--primary);
}

body {
  background-color: var(--secondary);
}

button {
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
}
